header {
    padding: 20px;
    text-align: center;
    background-color: var(--background-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--background-color);
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

.nav-logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

.logo h1 {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: var(--primary-color);
}

/* Hover effects */
.nav-link {
    text-decoration: none;
    color: var(--nav-link-color);
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--hover-color);
    border-bottom: 2px var(--hover-color) solid;
    padding-bottom: 2px;
}

#dark-light-mode {
    cursor: pointer;
    transition: color 0.3s ease;
}

#dark-light-mode:hover {
    color: var(--hover-color);
    border-bottom: 2px var(--hover-color) solid;
    padding-bottom: 2px;
}

@media (max-width: 920px) {
    .nav-logo {
        width: 40px;
    }

    .logo h1 {
        font-size: 1.2em;
    }
}

@media (max-width: 500px) {
    nav ul {
        flex-direction: column;
    }

    .nav-item {
        margin: 10px 0;
    }

    .nav-logo {
        width: 30px;
    }

    .logo h1 {
        font-size: 1em;
    }
}
