#competences {
    text-align: center;
    padding: 50px 20px;
    background-color: var(--primary-background-color);
}

#competences h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: var(--primary-color);
}

.competence-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.competence-card {
    width: 250px;
    height: 200px;
    perspective: 1000px;
    margin: 10px;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--secondary-background-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.competence-card:hover,
.competence-card:focus {
    transform: translateY(-var(--spacing-base));
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.competence-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    position: relative;
}

.competence-card:hover .competence-inner, .competence-inner.is-flipped {
    transform: rotateY(180deg);
}

.competence-front, .competence-back {
    backface-visibility: hidden;
    background: var(--secondary-background-color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.competence-back {
    transform: rotateY(180deg);
}

.competence-front img {
    max-width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.competence-front h3, .competence-back h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.competence-back p {
    font-size: 1em;
    color: var(--secondary-text-color);
}

/* Media Queries */
@media (max-width: 1200px) and (min-width: 1041px) {
    .competence-card {
        flex: 1 0 21%; /* 4 cards per row */
    }
}

@media (max-width: 1040px) and (min-width: 701px) {
    .competence-card {
        flex: 1 0 28%; /* 3 cards per row */
    }
}

@media (max-width: 700px) and (min-width: 301px) {
    .competence-card {
        flex: 1 0 45%; /* 2 cards per row */
    }
}

@media (max-width: 300px) {
    .competence-card {
        flex: 1 0 90%; /* 1 card per row on very small screens */
    }

    .competence-front img {
        max-width: 70px;
    }
}
